:root {
	--dtr-control-triangle_size: 5px;
	--dtr-control-triangle_color: rgba(0, 0, 0, 0.5);

	--dtr-details-list_padding: 0 0 0 1em;
	--dtr-details-list_gap: 0.333em;

	--dtr-modal_background: #f5f5f7;
	--dtr-modal_border: 1px solid black;
	--dtr-modal_border-radius: 0.5em;
	--dtr-modal_box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);

	--dtr-modal-background_background: rgba(0, 0, 0, 0.6);
}