@use 'defaults.scss';
@use 'shared.scss';Z

table.dataTable > tbody > tr.child {
	ul {
		font-size: 1em;
	}
}

div.modal-content {
	padding: 20px;
	background: white;
	border-radius: 5px;
}

html[data-theme="dark"] {
	--dtr-details-list_border-bottom: 1px solid rgb(64, 67, 70);
}
