@use 'defaults.scss';
@use 'shared.scss';

html.dark {
	--dtr-control-triangle_color: rgba(255, 255, 255, 0.5);

	--dtr-details-list_border-bottom: 1px solid rgb(64, 67, 70);

	--dtr-modal_background: rgb(33, 37, 41);
	--dtr-modal_border: 1px solid rgba(255, 255, 255, 0.15);

	--dtr-modal_box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
	--dtr-modal-background_background: rgba(0, 0, 0, 0.6);
}
